NODE_ENV="development"

# Database 
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DB=dental_clinic
POSTGRES_PORT=5434
DATABASE_URL="postgresql://root:root@localhost:5434/dental_clinic?schema=public"

# JWT Token
JWT_SECRET_KEY=jjnuwojbhedojjlasdsjnmsdfcasso46in6541202f214
TOKEN_EXPIRATION=15m
REFRESH_TOKEN_EXPIRATION=7d

# OTP expiry time
OTP_EXPIRATION_MINUTES=10

# Resend API Key
RESEND_API_KEY=re_xxxxxxxxxxxx
RESEND_FROM_EMAIL=onboarding@resend.dev

# Cloudflare R2
R2_ENDPOINT=https://<ACCOUNT_ID>.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=<ACCESS_KEY_ID>
R2_SECRET_ACCESS_KEY=<SECRET_ACCESS_KEY
R2_BUCKET_NAME=dental-clinic-images