@import "./base.css";

#app {
  /* margin: 0 auto;
  padding: 2rem; */
  font-weight: normal;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
